/* /Controls/UrbanShadows/RedCheckBox.razor.rz.scp.css */
.CheckBoxWhite[b-oz0rz4s90m] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: white;
}

.CheckBoxTransparent[b-oz0rz4s90m] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.Extrabig[b-oz0rz4s90m] {
    width:28px;
    height:28px;
    cursor: default;
}

.CheckBoxRed[b-oz0rz4s90m] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: white;
}
/* /Pages/DW/DWMaster.razor.rz.scp.css */

.LeftColumn[b-88iau3txc9] {
    width: 812px;
    background: #EBF4EC;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.LeftColumHeader[b-88iau3txc9] {
    font-family: 'Alegreya SC', serif;
    font-weight: 800;
    font-size: 15px;
    opacity: 0.3;
}

.DebtContainer[b-88iau3txc9] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 5px;
    border: 1px solid black;
    border-top: none;
}

.ButtonContainer[b-88iau3txc9] {
    position: absolute;
    top: 68px;
    right: 5px;
    border: 2px solid #14A911;
    color: #14A911;
    border-radius: 20px;
    padding: 0px 9px;
    height: 28px;
    font-family: 'Alegreya SC', serif;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s linear;
}

    .ButtonContainer:hover[b-88iau3txc9] {
        background: #d1e3d0;
        box-shadow: 0px 2px 4px #74c174;
    }

    .ButtonContainer div[b-88iau3txc9] {
        margin-top: -3px;
    }



.DebtButtonsContainer[b-88iau3txc9] {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    margin-top: -35px;
    margin-bottom: -10px;
    margin-right: 20px;
}


.DebButton[b-88iau3txc9] {
    width: 33px;
    height: 33px;
    cursor: pointer;
    opacity: 0.3;
}

    .DebButton:hover[b-88iau3txc9] {
        opacity: 1;
    }

.DebButtonRed[b-88iau3txc9] {
    filter: hue-rotate(232deg);
}

.DebButtonGreen[b-88iau3txc9] {
}

.MiddleColumn[b-88iau3txc9] {
    min-width: 100px;
    background: white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: auto;
    flex-direction: column;
    gap: 30px;
    padding-top: 10px;
}

.RightColumn[b-88iau3txc9] {
    min-width: 100px;
    background: white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: auto;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
}

.UpperPack[b-88iau3txc9] {
    width: 100%;
    height: 412px;
    display: flex;
    flex-direction: row;
}

.topLeft[b-88iau3txc9] {
    width: 507px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.MainHeader[b-88iau3txc9] {
    height: 137px;
    flex-grow: 1;
    background-color: #D9D9D9;
    border: 1px solid black;
    border-right: 0;
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya SC', serif;
}

    .MainHeader input[b-88iau3txc9] {
        background: transparent;
        border: none;
    }

.CharName[b-88iau3txc9] {
    margin-top: -10px;
    margin-bottom: -22px;
    font-size: 32px;
    line-height: 59px;
    display: flex;
}

    .CharName input[b-88iau3txc9] {
        font-size: 32px;
        width: 283px;
    }

.CharDetails[b-88iau3txc9] {
    margin-left: -10px;
}


.Characteristiques[b-88iau3txc9] {
    height: 100%;
    background: #ECEBF4;
    border: 1px solid black;
    border-right: 0;
    display: flex;
    align-items: flex-start;
    padding-top: 12px;
}

.MovementPackageHeader[b-88iau3txc9] {
    font-family: 'Alegreya SC', serif;
    font-size: 24px;
    font-weight: 800;
    margin-left: -12px;
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
}

.MovmentPackageBody[b-88iau3txc9] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.MovementsPackage[b-88iau3txc9] {
    width: 470px;
}

.SelectionCover[b-88iau3txc9] {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #00000096;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hidden[b-88iau3txc9] {
    display: none;
}

.DamageArea[b-88iau3txc9] {
    background-color: #ffdbe2;
    height: 100%;
    flex-grow: 1;
    border: 1px solid black;
}


.SheetContainer[b-88iau3txc9] {
    width: 100%;
    height: 100vh;
    font-family: 'Alegreya SC', serif;
}

.PaperSheet[b-88iau3txc9] {
    background-image: url("/imgs/DW/PaperTexture.png");
    height: 100%;
    width: 755px;
    min-width: 755px;
    max-width: 755px;
    filter: drop-shadow(0 0 5px #000);
}

.PaperFirstColumn[b-88iau3txc9] {
    width: 347px;
    max-width: 347px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 15px;
}

.comment[b-88iau3txc9] {
    font-family: Roboto;
    font-size: 12px;
    color: black;
    opacity: 0.3;
}

.PaperSheetTittle[b-88iau3txc9] {
    font-size: 32px;
}

.PaperSheetSubTittle[b-88iau3txc9] {
    font-size: 24px;
}

.ItemPack[b-88iau3txc9] {
    display: flex;
    gap: 0 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

    .ItemPack div[b-88iau3txc9] {
        display: flex;
        align-items: center;
    }

.SmallThingsTextArea[b-88iau3txc9] {
    width: 100%;
    overflow: hidden;
    height: 80px;
    background: transparent;
}

.TrackButton[b-88iau3txc9] {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 23px;
    justify-content: center;
    font-family: Roboto;
    opacity: 0.3;
    cursor: pointer;
}

    .TrackButton:hover[b-88iau3txc9] {
        opacity: 1;
    }

.Separator[b-88iau3txc9] {
    border-bottom: 1px solid #c19d78;
    width: 75%;
    height: 1px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


input[b-88iau3txc9] {
    border: none;
    background: transparent;
}

.HeaderName[b-88iau3txc9] {
    font-size: 48px;
    white-space: nowrap;
}

.HeaderNameInput[b-88iau3txc9] {
    font-size: 48px;
    background: white;
    white-space: nowrap;
    width: 320px;
}

.HeaderProfession[b-88iau3txc9] {
    font-size: 48px;
    text-align: right;
    white-space: nowrap;
}

.Hidden[b-88iau3txc9] {
    display: none;
}

.HeaderMotivation[b-88iau3txc9] {
    font-family: Roboto;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    flex-grow: 1;
}

    .HeaderMotivation:hover[b-88iau3txc9] {
        background: #ffffff1e
    }

.MovementsArea[b-88iau3txc9] {
    background-image: url("/imgs/DW/GreenBackground.png");
    background-size: cover;
    height: 100%;
}

.MovementsColum[b-88iau3txc9] {
    width: 50%;
    padding: 10px;
    overflow: auto;
}

.MovementsGroup[b-88iau3txc9] {
    background: #506A5388;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.MovementsGroupTittle[b-88iau3txc9] {
    font-size: 25px;
    line-height: 19px;
    font-weight: bold;
}

.SelectorOuter[b-88iau3txc9] {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: #878787e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Selector[b-88iau3txc9] {
    background: white;
    border-radius: 30px;
    filter: drop-shadow(0px 2px 5px gray);
    width: 75%;
    height: 85%;
    padding: 50px;
}

.StringSelector[b-88iau3txc9] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.StringSelectorItem[b-88iau3txc9] {
    background: #cbcbcb;
    padding: 10px;
    width: 75%;
    cursor: pointer;
}

    .StringSelectorItem:hover[b-88iau3txc9] {
        background: #f1f1f1;
        filter: drop-shadow(0px 2px 4px gray);
    }

.BackgroundSelector[b-88iau3txc9] {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.BackgroundSelectorItem[b-88iau3txc9] {
    width: 48%;
    cursor: pointer;
    border: 1px solid white;
}

    .BackgroundSelectorItem:hover[b-88iau3txc9] {
        border: 1px solid black;
        background: white;
        filter: drop-shadow(0px 4px 6px gray);
    }

.ArmorOuter[b-88iau3txc9] {
    width: 77px;
    height: 79px;
    background-image: url(imgs/DW/Armor.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .ArmorOuter input[b-88iau3txc9] {
        font-size: 40px;
        width: 25px;
        margin-top: -19px;
    }

.ArmorTittle[b-88iau3txc9] {
    font-size: 15px;
    margin-top: 6px;
}

.HealthOuter[b-88iau3txc9] {
    width: 92px;
    height: 79px;
    background-image: url(imgs/DW/heart.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 31px;
    padding-top: 5px;
}

    .HealthOuter input[b-88iau3txc9] {
        width: 35px;
        text-align: center;
    }

.DamageOuter[b-88iau3txc9] {
    width: 99px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

    .DamageOuter:hover[b-88iau3txc9] {
        background: #ffffff53;
    }
/* /Pages/DW/DWPlayerSheet.razor.rz.scp.css */
.SheetContainer[b-9hpw311yh7] {
    width: 100%;
    height: 100vh;
    font-family: 'Alegreya SC', serif;
}
.PaperSheet[b-9hpw311yh7] {
    background-image: url("imgs/DW/PaperTexture.png");
    height: 100%;
    width: 755px;
    min-width: 755px;
    max-width: 755px;
    filter: drop-shadow(0 0 5px #000);
}
.PaperFirstColumn[b-9hpw311yh7] {
    width: 347px;
    max-width: 347px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 15px;
}
.comment[b-9hpw311yh7]{
    font-family: Roboto;
    font-size: 12px;
    color: black;
    opacity: 0.3;
}
.PaperSheetTittle[b-9hpw311yh7]{
    font-size: 32px;
}
.PaperSheetSubTittle[b-9hpw311yh7]{
    font-size: 24px;
}
.ItemPack[b-9hpw311yh7] {
    display: flex;
    gap: 0 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
    .ItemPack div[b-9hpw311yh7] {
        display: flex;
        align-items: center;
    }
.SmallThingsTextArea[b-9hpw311yh7] {
    width: 100%;
    overflow: hidden;
    height: 80px;
    background: transparent;
}
.TrackButton[b-9hpw311yh7] {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 23px;
    justify-content: center;
    font-family:Roboto;
    opacity: 0.3;
    cursor: pointer;
}
.TrackButton:hover[b-9hpw311yh7]{
    opacity: 1;
}
.Separator[b-9hpw311yh7] {
    border-bottom: 1px solid #c19d78;
    width: 75%;
    height: 1px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


input[b-9hpw311yh7] {
    border: none;
    background: transparent;
}
.HeaderName[b-9hpw311yh7] {
    font-size: 48px;
    white-space: nowrap;
}
.HeaderNameInput[b-9hpw311yh7]{
    font-size: 48px;
    background:white;
    white-space: nowrap;
    width: 320px;
}
.HeaderProfession[b-9hpw311yh7] {
    font-size: 48px;
    text-align: right;
    white-space: nowrap;
}
.Hidden[b-9hpw311yh7]{
    display: none;
}
.HeaderMotivation[b-9hpw311yh7] {
    font-family: Roboto;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    flex-grow: 1;
}
    .HeaderMotivation:hover[b-9hpw311yh7] {
        background: #ffffff1e
    }

.MovementsArea[b-9hpw311yh7] {
    background-image: url("imgs/DW/GreenBackground.png");
    background-size: cover;
    height: 100%;
}
.MovementsColum[b-9hpw311yh7]{
    width:50%;
    padding: 10px;
    overflow: auto;
}
.MovementsGroup[b-9hpw311yh7] {
    background: #506A5388;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.MovementsGroupTittle[b-9hpw311yh7] {
    font-size: 25px;
    line-height: 19px;
    font-weight: bold;
}

.SelectorOuter[b-9hpw311yh7] {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: #878787e3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Selector[b-9hpw311yh7] {
    background: white;
    border-radius: 30px;
    filter: drop-shadow(0px 2px 5px gray);
    width: 75%;
    height: 85%;
    padding: 50px;
}

.StringSelector[b-9hpw311yh7] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.StringSelectorItem[b-9hpw311yh7] {
    background: #cbcbcb;
    padding: 10px;
    width: 75%;
    cursor: pointer;
}
    .StringSelectorItem:hover[b-9hpw311yh7] {
        background: #f1f1f1;
        filter: drop-shadow(0px 2px 4px gray);
    }

.BackgroundSelector[b-9hpw311yh7] {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.BackgroundSelectorItem[b-9hpw311yh7] {
    width: 48%;
    cursor: pointer;
    border: 1px solid white;
}
    .BackgroundSelectorItem:hover[b-9hpw311yh7] {
        border: 1px solid black;
        background: white;
        filter: drop-shadow(0px 4px 6px gray);
    }

.ArmorOuter[b-9hpw311yh7] {
    width: 77px;
    height: 79px;
    background-image: url(imgs/DW/Armor.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .ArmorOuter input[b-9hpw311yh7] {
        font-size: 40px;
        width: 25px;
        margin-top: -19px;
    }
.ArmorTittle[b-9hpw311yh7] {
    font-size: 15px;
    margin-top: 6px;
}
.HealthOuter[b-9hpw311yh7] {
    width: 92px;
    height: 79px;
    background-image: url(imgs/DW/heart.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 31px;
    padding-top: 5px;
}
    .HealthOuter input[b-9hpw311yh7] {
        width: 35px;
        text-align: center;
    }
.DamageOuter[b-9hpw311yh7] {
    width: 99px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor:pointer;
}
    .DamageOuter:hover[b-9hpw311yh7] {
        background: #ffffff53;
    }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-cx6jl17116] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-cx6jl17116] {
    flex: 1;
}

.sidebar[b-cx6jl17116] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-cx6jl17116] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-cx6jl17116]  a, .top-row[b-cx6jl17116]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-cx6jl17116]  a:hover, .top-row[b-cx6jl17116]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-cx6jl17116]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-cx6jl17116] {
        display: none;
    }

    .top-row.auth[b-cx6jl17116] {
        justify-content: space-between;
    }

    .top-row[b-cx6jl17116]  a, .top-row[b-cx6jl17116]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-cx6jl17116] {
        flex-direction: row;
    }

    .sidebar[b-cx6jl17116] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-cx6jl17116] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-cx6jl17116]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-cx6jl17116], article[b-cx6jl17116] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-wqi3ni3pvs] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-wqi3ni3pvs] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-wqi3ni3pvs] {
    font-size: 1.1rem;
}

.oi[b-wqi3ni3pvs] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-wqi3ni3pvs] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-wqi3ni3pvs] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-wqi3ni3pvs] {
        padding-bottom: 1rem;
    }

    .nav-item[b-wqi3ni3pvs]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-wqi3ni3pvs]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-wqi3ni3pvs]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-wqi3ni3pvs] {
        display: none;
    }

    .collapse[b-wqi3ni3pvs] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
